<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ExcelToiBank2</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="wrap">
    <div class="sheet">
        <div class="block">

            <div class="block__fields">

                <form th:object="${myUploadForm}" method="POST" enctype="multipart/form-data" action="/">
                    <ul class="text-list">
                        <li class="list__item">Дата документа:<input th:field="*{docDate}" value="2018-04-25" class="field" type="date"></li>
                        <li class="list__item">Номер документа:<input th:field="*{docNumber}" value="0" size="16" class="field" type="text"></li>
                        <li class="list__item">Наименование клиента:<input th:field="*{clientName}" size="25" type="text"></li>
                        <li class="list__item">МФО банка клиента:<input th:field="*{bankNumber}" size="25" type="text"></li>
                        <li class="list__item">Наименование банка клиента:<input th:field="*{bankName}" size="25" type="text"></li>
                    </ul>

                    <div class="note">
                        <span class="text-bold">Внимание!</span>
                        <br>
                        <span>Данные из етой секции будут применятся ко всем пользователям.</span>
                    </div>
                    <div class="test">

                        File to upload: <input th:field="*{fileData}" type="file"/>
                        <br />
                        <input type="submit" value="Upload">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>