<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Result</title>
</head>

<body>
    <!--<th:block th:include="/_menu"></th:block>-->

    docDate: <span th:utext="${docDate}"></span>
    <br>
    docNumber: <span th:utext="${docNumber}"></span>
    <br>
    clientName: <span th:utext="${clientName}"></span>
    <br>
    bankNumber: <span th:utext="${bankNumber}"></span>
    <br>
    bankName: <span th:utext="${bankName}"></span>
    <br/>
    <h3>Uploaded File:</h3>

    <span th:utext="${uploadedFile}"></span>

    <!--<script>-->
        <!--alert("Yes!");-->
        <!--location="http://localhost:8080/download3";-->
    <!--</script>-->

</body>

</html>